#wrapper1 {
    display: grid;
    height: 100vh;
    width: 100%;
    
    grid-template-rows: 80px 5vw 40vw 60px;
    grid-template-columns: 40vh 3fr 1fr;
   column-gap: 10px;
    row-gap: 10px;
    grid-template-areas:
        "he he he  "
        "na na na "
        "ma ma se"
        "fo fo fo"
}

#wrapper2 {
    display: grid;
    height: 280vh;
    width: 100%;
    
    grid-template-rows: 200px 10vh 3fr 60px;
    grid-template-columns: 10vw 3fr ;
   column-gap: 10px;
    row-gap: 10px;
    grid-template-areas:
        "he he  "
        "na na  "
        "se se "
        "fo fo "
}
#wrapper3  {
    display: grid;
    height: 100vh;
    width: 100%;
    background-color:#ffffff;
    grid-template-rows: 65px 1fr 1fr 65px;
    grid-template-columns: 45vh 1fr;
   column-gap: 15px;
    row-gap: 20px;
    grid-template-areas:
        "na na"
        "se se"
        "se se"
        "fo fo";

}


header {
display: grid;
grid-area: he;
background-color: rgb(103, 19, 206);
}
header h1{ display: flex;
justify-content: space-evenly;
}

nav{
    display: grid;
grid-area: na;
background-color: aqua;
}
nav h2{
display: flex;
justify-content: space-evenly;
size: 21;
}
nav h3{
display: flex;
justify-content: space-evenly;
}
 nav a{ color: #27ae60;}
main{
    display: grid;
grid-area: ma;
background-image: url(../img/paulius-dragunas-cIxcxnwsnoI-unsplash.jpg);
}

section{
    display: flex;
grid-area: se;
background-color: rgb(249, 249, 249);
flex-direction: column;
padding: 20px;
}
section h2{ color: #27ae60;}
section img{
    display: flex;
    flex-direction: row;
    height: 20vh;
    width: 10vw;
    vertical-align: middle;
    position: relative;
    z-index: 10;
    margin: 10px;
    border-radius: 50px;
   
}

section#sen { 
      display: flex;
grid-area: se;
background-color: rgb(249, 249, 249);
flex-direction: row;
padding: 20px;
flex-wrap: wrap;
}

footer{
    display: grid;
grid-area: fo;
background-color: hotpink;
}

p{size: 13;}

h1 h2 {font-style: t;}