#wrapper1 {
    display: grid;
    height: 100vh;
    width: 100%;
    
    grid-template-rows: 80px 5vw 40vw 60px;
    grid-template-columns: 40vh 3fr 1fr;
   column-gap: 10px;
    row-gap: 10px;
    grid-template-areas:
        "he he he  "
        "na na na "
        "ma ma se"
        "fo fo fo"
}

header {
display: grid;
grid-area: he;
background-color: rgb(103, 19, 206);
}

nav{
    display: grid;
grid-area: na;
background-color: aqua;
}



main{
    display: grid;
grid-area: ma;
background-image: url(../img/paulius-dragunas-cIxcxnwsnoI-unsplash.jpg);
}
main img{ height: 20vh;
width: 10vw;
display: inline-block;
vertical-align: middle;
position: relative;
border-radius: 5px;
}
section{
    display: grid;
grid-area: se;
background-color: orange;
}


footer{
    display: grid;
grid-area: fo;
background-color: hotpink;
}

#wrapper2 {
    display: grid;
    height: 100vh;
    width: 100%;
    
    grid-template-rows: 55vw 1fr fr 60px;
    grid-template-columns: 40vh 3fr ;
   column-gap: 10px;
    row-gap: 10px;
    grid-template-areas:
        "he he  "
        "na na  "
        "se se "
        "fo fo "
}

section{
    display: grid;
grid-area: se;
background-color: orange;
}
